<p *ngIf="!usuarios"><em>Loading...</em></p>

<div class="container">
  <div class="mt-3 mb-3">
    <a class="btn btn-primary rounded" routerLink="/novo-usuario">Adicionar Usuário</a>
  </div>

  <table class='table table-striped shadow-sm border rounded' aria-labelledby="tableLabel" *ngIf="usuarios">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>DataNascimento</th>
        <th>Escolaridade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of  usuarios ">
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.sobrenome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.dataNascimento | date:'dd/MM/yyy' }}</td>
        <td>{{obterEscolaridade(usuario)}}</td>
        <td>
          <button class="btn btn-primary btn-sm mr-1" title="Visualizar / Editar" type="button" (click)="atualizarUsuario(usuario)">Atualizar</button>
          <button class="btn btn-danger btn-sm" title="Apagar Usuário" type="button" (click)="deletarUsuario(usuario)">Deletar</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
